PORT=3000
COPILOT_DIRECT_LINE_SECRET=
DIRECT_LINE_BASE_URL=https://directline.botframework.com/v3/directline

DATABASE_URL=mysql://copilot:copilot@localhost:3306/copilot
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

JWT_SECRET=
JWT_EXPIRES_IN=7d